@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
</head>
<body>
<div>
    <div style="background-color: #b7ffc9; text-align: center; border: 1px solid darkgrey">
        <tr>
            <td>@ViewBag.Str</td>
        </tr>
    </div>
    <div style="background-color: #b7ffc9; text-align: center; border: 1px solid darkgrey">
        <a asp-action="Index" asp-controller="Auto">Back to List</a>
    </div>
</div>
</body>
</html>