@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
</head>
<body>
<div style="background-color: #b7ffc9; text-align: left; border: 1px solid darkgrey">
    <tr>
        <td>@ViewBag.Str</td>
    </tr>
</div>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index" style="background-color: #b7ffc9; text-align: center; border: 1px solid darkgrey">Back</a>
            </li>
        </ul>
    </div>
</body>
</html>